body { background-color: white; }

h1 { 
	color: #422b25;
	font-size: 17px;
	padding-bottom: 20px;
}

h4 {
	color: white;
	font-size: 16px; 
	text-align: center;
}

p { font-size: 12px; }

.quote { 
	color: #a3ba4f;
	text-align: center;
}

.inputbox_search {
	border: #a3ba4f solid 1px;
	line-height: 1.5em;
	padding: 5px 9px 0 0;	
}

.searchtitle {
	color: #a3ba4f;
	float: left;
	font-size: 14px;
	padding-top: 5px;
	text-transform: capitalize;
}