#top { 
	margin: 0 auto; 
	width: 780px;
}

#mainmenu {
	background: url(../images/topmenubg.png) repeat-x;
	margin: 0 auto;
	padding-bottom: 1px;
}

#mainmenu > div {
	height: 36px;
	margin: 0 auto;
	width: 780px;
}

#content {
	background-color: #422b25;
	color: black;
	margin: 0 auto;
}

#content > div {
	border-left: white solid 1px;
	border-right: white solid 1px;
	margin: 0 auto;
	padding: 1px 0;
	width: 784px;
}

#content > div > div {
	background-color: white;
	border-left: #422b25 solid 1px;
	border-right: #422b25 solid 1px;
	margin: -2px 0;
	position: relative; 
}

#component { 
	padding: 20px 16px;
}

#main { 
	float: left; 
	width: 555px;
}

#sidebar { 
	float: left; 
	margin: 1px 1px 1px 0; 
	width: 226px; 
}

#bottom { 
	bottom: 1px; left: 0;
	border-top: #a3ba4f 1px solid;
	padding-top: 1px;
	position: absolute;
}

#bottomdummy { height: 243px; }

#footer { background: url(../images/bottommenubg.png) repeat-x; margin: 0 auto; }

#footer > div {
	color: white;
	font-size: 10px;
	margin: 1px auto;
	padding: 5px 0;
	width: 784px;
}

#footer > div > div {
	text-align: left;
	padding-top: 5px;
}

#footer > div > div + div { 
	text-align: center; 
	padding-top: 0;
}

#footer > div > div + div + div { 
	text-align: right;
}



